<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Perfume Store</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" th:href="@{../assets/MainPage/css/bootstrap.min.css}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" th:href="@{../assets/MainPage/css/style.css}">
      <!-- Responsive-->
      <link rel="stylesheet" th:href="@{../assets/MainPage/css/responsive.css}">
      <!-- fevicon -->
      <link rel="icon" href="../assets/MainPage/img/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" th:href="@{../assets/MainPage/css/jquery.mCustomScrollbar.min.css}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
      <!-- font awesome -->
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!--  -->
      <!-- owl stylesheets -->
      <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
      <link rel="stylesheet" th:href="@{../assets/MainPage/css/owl.carousel.min.css}">
      <link rel="stylesoeet" th:href="@{../assets/MainPage/css/owl.theme.default.min.css}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      <!-- banner bg main start -->
      <div class="banner_bg_main">
         <div class="container">
            <div class="header_section_top">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="custom_menu">
                        <ul>
                           <li><a href="#" th:href="@{/bestsellers}">Bestsellery</a></li>
                           <li><a href="#">Nowości</a></li>
                           <li><a href="#">Promocje</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- header top section start -->
         <!-- logo section start -->
         <div class="logo_section">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="logo"><a href="index.html" th:href="@{/}"><img src="../assets/MainPage/img/logo.png"></a></div>
                  </div>
               </div>
            </div>
         </div>
         <!-- logo section end -->
         <!-- header section start -->
         <div class="header_section">
            <div class="container">
               <div class="containt_main">
                  <div id="mySidenav" class="sidenav">
                     <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                     <a href="index.html" th:href="@{/}">Strona Głowna</a>
                     <a href="test.html" th:href="@{/perfume/female}">Perfumy Damskie</a>
                     <a href="test.html" th:href="@{/perfume/male}">Perfumy Męskie</a>
                  </div>
                  <span class="toggle_icon" onclick="openNav()"><img src="../assets/MainPage/img/toggle-icon.png"></span>
                  <div class="dropdown">
                     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kategorie 
                     </button>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" th:href="@{/perfume/female}">Perfumy Damskie</a>
                        <a class="dropdown-item" href="#" th:href="@{/perfume/male}">Perfumy Męskie</a>
                     </div>
                  </div>
                  <div class="main">
                     <!-- Another variation with a button -->
                     <div class="input-group">
                        <input type="text" class="form-control" placeholder="Szukaj">
                        <div class="input-group-append">
                           <button class="btn btn-secondary" type="button" style="background-color: #f26522; border-color:#f26522 ">
                           <i class="fa fa-search"></i>
                           </button>
                        </div>
                     </div>
                  </div>
                  <div class="header_box">
                     <div class="lang_box ">
                        <a href="#" title="Language" class="nav-link" data-toggle="dropdown" aria-expanded="true">
                        <img src="../assets/MainPage/img/flag-poland.png" alt="flag" class="mr-2 " title="Polad"> Polski <i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu ">
                           <a href="#" class="dropdown-item">
                           <img src="../assets/MainPage/img/flag-uk.png" class="mr-2" alt="flag">
                           English
                           </a>
                        </div>
                     </div>
                     <div class="login_menu">
                        <ul>
                           <li><a href="#" th:href="@{/basket}">
                              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                     
                              <span class="padding_10">Koszyk</span></a>
                           </li>
                           <li><a href="#" />
                              <i class="fa fa-user" aria-hidden="true"></i>
                              <a href="login.html">Zaloguj się</a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- header section end -->
         <!-- banner section start -->
         <div class="banner_section layout_padding">
            <div class="container">
               <div id="my_slider" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="row">
                           <div class="col-sm-12">
                              <h1 class="banner_taital">Wszystkie Perfumy <br>W jedym miejscu</h1>
                              <div class="buynow_bt"><a href="#">KUP TERAZ</a></div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="row">
                           <div class="col-sm-12">
                              <h1 class="banner_taital">Wszystkie Perfumy <br>W jedym miejscu</h1>
                              <div class="buynow_bt"><a href="#">KUP TERAZ</a></div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="row">
                           <div class="col-sm-12">
                              <h1 class="banner_taital">Wszystkie Perfumy <br>W jedym miejscu</h1>
                              <div class="buynow_bt"><a href="#">KUP TERAZ</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                  <i class="fa fa-angle-left"></i>
                  </a>
                  <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                  <i class="fa fa-angle-right"></i>
                  </a>
               </div>
            </div>
         </div>
         <!-- banner section end -->
      </div>

      <div class="perfume_section">
                  <div class="container">
                     <h1 class="perfume_taital">Perfumy Damskie</h1>
                     <div class="perfume_section_2">
                        <div class="row">
                           <div class="col-lg-4 col-sm-4" th:each="damski :${damskie}">
                              <div class="box_main">
                                 <h4 class="perfume_text" th:text="${damski.nazwa}"></h4>
                                 <p class="price_text">Cena:  <span style="color: #262626;" th:text="${damski.cena} + ' PLN'" ></span></p>
                                 <div class="perfume_img"><img src="../assets/MainPage/img/calvin-klein-ck-in2u-eau-de-toilette-pentru-femei___29.jpeg"
                                                               th:src="${damski.imagePath}"></div>
                                 <div class="btn_main">
                                    <form method="POST" th:action="@{/add-to-basket(prod=${damski})}">
                                       <div class="buy_bt"><button type="submit">Kup Teraz</button></div>
                                    </form>
                                    <div class="seemore_bt"><a href="#" th:href="@{/product/{id}(id=${damski.id})}">Zobacz Więcej</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
      </div>
      <div class="perfume_section">
                  <div class="container">
                     <h1 class="perfume_taital">Perfumy Męskie</h1>
                     <div class="perfume_section_2">
                        <div class="row">
                           <div class="col-lg-4 col-sm-4" th:each="meski :${meskie}">
                              <div class="box_main">
                                 <h4 class="perfume_text" th:text="${meski.nazwa}"></h4>
                                 <p class="price_text">Cena:  <span style="color: #262626;" th:text="${meski.cena} + ' PLN'"></span></p>
                                 <div class="cologne_img"><img src="../assets/MainPage/img/versace-woman-woda-perfumowana-dla-kobiet___23.jpeg"
                                                               th:src="${meski.imagePath}"></div>
                                 <div class="btn_main">
                                    <form method="POST" th:action="@{/add-to-basket(prod=${meski})}">
                                       <div class="buy_bt"><button type="submit">Kup Teraz</button></div>
                                    </form>
                                    <div class="seemore_bt"><a href="#" th:href="@{/product/{id}(id=${meski.id})}">Zobacz Więcej</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
      </div>
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="footer_logo"><a href="index.html" th:href="@{/}"><img src="../assets/MainPage/img/logo_footer.png"></a></div>
            <div class="footer_menu">
               <ul>
                  <li><a href="#" th:href="@{/bestsellers}">Bestsellery</a></li>
                  <li><a href="#">Nowości</a></li>
                  <li><a href="#">Promocje</a></li>
               </ul>
            </div>
         </div>
      </div>
      <!-- footer section end -->

      <!-- Javascript files-->
      <script type="text/javascript" th:src="@{../assets/MainPage/js/jquery.min.js}"></script>
      <script type="text/javascript" th:src="@{../assets/MainPage/js/popper.min.js}"></script>
      <script type="text/javascript" th:src="@{../assets/MainPage/js/bootstrap.bundle.min.js}"></script>
      <script type="text/javascript" th:src="@{../assets/MainPage/js/jquery-3.0.0.min.js}"></script>
      <script type="text/javascript" th:src="@{../assets/MainPage/js/plugin.js}"></script>
      <!-- sidebar -->
      <script type="text/javascript" th:src="@{../assets/MainPage/js/jquery.mCustomScrollbar.concat.min.js}"></script>
      <script type="text/javascript" th:src="@{../assets/MainPage/js/custom.js}"></script>
      <script>
         function openNav() {
           document.getElementById("mySidenav").style.width = "250px";
         }
         
         function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
         }
      </script>
   </body>
</html>