<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Test</title>
    </head>
    <body>
        <div>
            <h2>Lista Klientow</h2>
            <hr />

            <br /><br /><br /><br />


            <div>
                <div th:each="produkt: ${produkty}">
                    <!--/*@thymesVar id="produkt" type="com.example.pzespolowe.Models.Produkt"*/-->
                    <p th:text="${produkt.nazwaProd}"></p>
                    <p th:text="${produkt.pojemnosc}"></p>
                    <p th:text="${produkt.cena}"></p>
                    <p th:text="${produkt.rodzaj}"></p>
                    <p><img th:src="${produkt.zdjeciaProd.src}" alt="image"/></p>
                    <a th:href="@{/test/str-prod(id=${produkt.id})}">Zobacz więcej</a>
                </div>
            </div>

        </div>
    </body>
</html>