<!DOCTYPE html>
<html lang="pl"xmlns:th="http://www.thymeleaf.org">
<head>    
    <meta charset="utf-8">
    <title>Strona Logowania</title>    
    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/style_login.css}">
</head>    
<header>
         
  <div id="top-header">
           
      <div id="logo">
          <img src="../assets/img/logo.png" />
      </div>   
  </div>   

  <div id="header-image-menu">

  </div>
</header>
<body>       
    <div class="login">    
    <form id="login" method="get" action="login.php">    
        <label><b>Login:    
        </b>    
        </label>    
        <input type="text" name="Uname" id="Uname" placeholder="Username">    
        <br><br>    
        <label><b>Haslo:  
        </b>    
        </label>    
        <input type="Password" name="Pass" id="Pass" placeholder="Password">    
        <br><br>    
        <input type="button" name="log" id="log" value="OK">       
        <br><br>    
        <input type="checkbox" id="check">    
        <span>Zapamiętaj Hasło</span>    
    </form>     
</div>    
</body>    
</html>     